<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Model/style_N.css" >
    <title>Login Frame</title>
</head>
<body>
    <header class="header">
        <nav class="navBar">
            <a href="homePage_N.html">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
    </header>

    <div class="background"></div>

    <div class="container">
        <div class="content">
            <h2 class="icon"><img src="data:image/png;base64,
            iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAADlUlEQVR
            4AYxVi3XbMAw8ZJF6lGSS1pNYmSTtJO0mdSdB7w4gRdVKEzwRn8OBICn
            KfsKpBOIUb/C/yebYnBANBZbGRlCSyHKoVxy1oE46Y4VHMd7Ex+zaOGtSF1ih
            gMYhicOCUpAVitplOJVOmp9rYyyTOttAN+u6fc6sZgaakw5K2V+LDKCK4tg
            YEue7wCaLmzMpx8PQ6plv4H3VRU/n3BzNbkD8TvgwaD6wvhoh3m8A31h2gWR
            tYv9w1FHNRORg9RuBbRYT+9yTLMOF6g3AVw5OYX1QTznDxO7jAq24gF/0t49G
            ABubbaBl2Z1Wz0Zcc8mvwaSc5XNSOMdXFoATgfLC8ToG8f
            bj1X6AcXDQJgc8XrgLNidj7JoTrM97jTcvLDGK8ShmzGPsaNBYB45kf/BdYxe
            vJfpWd4ASH40h4Ltmbh+StcHu7544PX4ArrzQXDDE1HG5OnAuwAvhAoU6Qjit
            iDPYPKjJXzNcNO6d4ZwoaaCOugNnEpt2iZIbzY1pWyBvimtE4QFijdtH4YBweN
            EJHXft2kD0UTvAhQ1+oqUgcBHQ+7YFoFvafpZNlGWOXeynfI+oZoDsW5SFpHYsj7
            ePBc9np8mCYlCTQ13P6htZiQawTvdM/jMs4x07aMVsexhVK4QpJ10eiMlDGAXmfxn
            RuuOByepH48qqjQE/C2o/LrYHJtvZjdNWwlR7pdP1x1Utv9WzgFzwU4BupW61LEoSO
            6u91aRYKY6asjZUq+ZKHMay46xE2GjHdqBpQCl82WdWJpl7fP4UlOLcpSoeOrD8VqMk
            bW7Uuon8DJKDUXJwhu6vYFlE/x87aV/1ukia420Qne7K2vGOGKZSM/216R9GxYT05Jh
            DwTKSS2KYHMVQzU/UX+pzJVEZlFRjF6CPpxLv6X2NgVhINUUBxq0abVPZ0tW4fL3Xe7
            mf0b17Nzjy3cdqxU3UpTVYt9oY9LvKm4hdAlqIFtQj2uLcRuEB2qrFLnmlr/lo0JfLq/
            OlmAlnE/ocXgD0yBdS228s204OilO1LJ2PNjaDOupQnLCRexjn6IFyFpyUpXjG4/Ancb
            h1mJLvLGgSdid3l5P5srpPwbVjcx5/q/XudJQbC67seHznNQGIA6Wmwb8S0Gu6ss+Geg13
            +hhlddSQsJWMLgbwStJ3rpqI3z3t8jA5v0r7XdvGTONQcy1eG4LFePRRrwX4V8xssIltGqRp
            jk2MTRE/PjHDxF8AAAD//4ejkEcAAAAGSURBVAMAcmgNU3Zc5+IAAAAASUVORK5CYII=" />Cars</h2>

            <div class="text">
                <h2>Welcome!<br><span> to Our project</span></h2>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores tempore magnam veritatis modi
                    fuga sunt libero id, qui fugiat perspiciatis. Expedita architecto facere minus, magni ipsam quisquam
                    eaque ullam sequi?</p>

            </div>

        </div>

        <div class="form">
            <div class="formContainer">
                <form action="inventory_N.html" onsubmit="return validationCheck()">
                     <script src="script.js"></script>

                    <h2>Login</h2>

                    <div class="uName">
                        <input type="text" id="username" >
                        <label for="username">Username</label>
                    </div>

                    <div class="pass">
                        <input type="password" id="password" >
                        <label for="password">Password</label>
                    </div>
                    <br>
                    <div class="remember">
                        <input type="checkbox" id="remember">
                        <label for="remember">Remember Me</label>

                        <a href="resetPass_N.html" class="forgot">Forgot Password?</a>
                    </div>

                    <button type="submit" class="btn" id="lbtn">Login</button><br>
                    <button type="button" class="btn" id="rst">Reset</button>

                    <div>
                        <p>Don't have an account? <a href="signup_N.html" class="signup">Sign Up</a></p>
                    </div>
                    <p id="eName"></p>
                    <p id="ePass"></p>
                </form>
            </div>
        </div>
        <script src="../Asset/script_N.js"></script>
    </div>
</body>

</html>